<div class="menu">
  <div class="logo-details">
    <img src="../../assets/logo-dark.png" class="icon" style="width: 15%;" />
    <div class="logo_name">Circle</div>
    <i class="bx bx-menu" id="btn"></i>
  </div>
  <ul class="nav-list">
    <li>
      <a href="/painel">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a href="/usuario">
        <i class="bx bx-user"></i>
        <span class="links_name">Usuario</span>
      </a>
      <span class="tooltip">Usuario</span>
    </li>
    <li>
      <a>
        <i class="bx bx-chat"></i>
        <span class="links_name">Messagens</span>
      </a>
      <span class="tooltip">Messagens</span>
    </li>
    <li>
      <a>
        <i class="bx bx-pie-chart-alt-2"></i>
        <span class="links_name">Analytics</span>
      </a>
      <span class="tooltip">Analytics</span>
    </li>
    <li>
      <a>
        <i class="bx bx-folder"></i>
        <span class="links_name">Arquivos</span>
      </a>
      <span class="tooltip">Arquivos</span>
    </li>
    <li>
      <a>
        <i class="bx bx-cart-alt"></i>
        <span class="links_name">Pedidos</span>
      </a>
      <span class="tooltip">Pedidos</span>
    </li>
    <li>
      <a>
        <i class="bx bx-heart"></i>
        <span class="links_name">Salvo</span>
      </a>
      <span class="tooltip">Salvo</span>
    </li>
    <li>
      <a>
        <i class="bx bx-cog"></i>
        <span class="links_name">Configurações</span>
      </a>
      <span class="tooltip">Configurações</span>
    </li>
    <li class="profile">
      <div class="profile-details">
        <img src="https://avatars.githubusercontent.com/u/22484479?v=4" alt="Foto de perfil" />
        <div class="name_job">
          <div class="name">Michael Lucas</div>
          <div class="job">Desenvolvedor</div>
        </div>
      </div>
      <div (click)="sair()"><a><i class="bx bx-log-out" id="log_out"></i></a></div>
    </li>
  </ul>
</div>

