.menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #6c35c9;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.menu.open {
  width: 250px;
}

.menu .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.menu .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.menu .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.menu.open .logo-details .icon,
.menu.open .logo-details .logo_name {
  opacity: 1;
}

.menu .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.menu.open .logo-details #btn {
  text-align: right;
}

.menu i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.menu .nav-list {
  margin-top: 20px;
  height: 100%;
}

.menu li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.menu li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px #44227d;
  padding: 6px 12px;
  border-radius: 0.4rem;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.menu li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.menu.open li .tooltip {
  display: none;
}

.menu input {
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 0.4rem;
  transition: all 0.5s ease;
  background: #44227d;
}

.menu.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.menu li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 0.4rem;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #44227d;
}

.menu li a:hover {
  background: #FFF;
}

.menu li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.menu.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.menu li a:hover .links_name,
.menu li a:hover i {
  transition: all 0.5s ease;
  color: #11101D;
}

.menu li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 0.4rem;
}

.menu li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #44227d;
  transition: all 0.5s ease;
  overflow: hidden;
}

.menu.open li.profile {
  width: 250px;
}

.menu li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.menu li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 0.4rem;
  margin-right: 10px;
}

.menu li.profile .name,
.menu li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

.menu li.profile .job {
  font-size: 12px;
}

.menu .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #44227d;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0.4rem;
  transition: all 0.5s ease;
}

.menu.open .profile #log_out {
  width: 50px;
  background: none;
}

.home-section {
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.menu.open~.home-section {
  left: 250px;
  width: calc(100% - 250px);
}

.home-section .text {
  display: inline-block;
  color: #44227d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}

@media (max-width: 420px) {
  .menu li .tooltip {
    display: none;
  }
}
